{
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx", "**/*.json"],
  "defaultSeverity": "warning",
  "extends": ["stylelint-config-prettier-scss", "stylelint-config-standard", "stylelint-config-standard-scss"],
  "rules": {
    
  }
}
