@import './General.scss';

.Content {
    display: flex;
    // align-items: center;
    flex-direction: column;
    width: 100%;
}

.Content table {
    width: 100%;
    box-shadow: $shadow;
}

.Content table thead th {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(6, 137, 251);
    color: #fff;
}

.even-element {
    @include table-element(rgb(249, 231, 231));
}

.odd-element {
    @include table-element(rgb(255, 255, 255));
}

.add-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    align-items: center;
}

.button{
    box-shadow: $shadow;
    font-weight: bold;
    align-self: center;
}

.add-button{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: #fff;
    border: none;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 4vh;
}

.modal-content-input{
    width: 20vw;
    margin-bottom: 10px;
}