@import './General.scss';

.Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Content table {
    width: 75%;
    border-radius: 5px;
    box-shadow: $shadow;
}

.Content table thead th {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(249, 231, 231);
}

@mixin table-element($color) {
    min-height: 100vh;
    padding: 5px;
    // background-color: $color;
}

.even-element {
    @include table-element(rgb(249, 231, 231));
}

.odd-element {
    @include table-element(rgb(255, 255, 255));
}

.add-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    align-items: center;
}

.add-input {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    // border: 1px solid;
    // border-color: red;
}

.add-button{
    width: 40%;
    padding: 5px 10px;
    margin-top: 10px;
}