@import "./general";

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: none;
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 4vh;
}

.modal-content-input {
  width: 300px;
  margin-bottom: 20px;
}

.input-modal {
  display: flex;
  flex-direction: column;
}
