@import "./general";

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  border: none;
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 4vh;
}

.modal-content-input {
  width: 20vw;
  margin-bottom: 10px;
}
